[buildout]
extensions =
    mr.developer

eggs-directory = ${buildout:directory}/eggs
versions = versions
parts =
    instance
    test
    coverage
    coverage_report

develop = .
sources = sources
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *
# always-checkout = force
always-checkout = false
show-picked-versions = true
update-git-submodules = never
always-accept-server-certificate = true

[versions]
pyramid = 1.9.4

[remotes]
conestack = https://github.com/conestack

[sources]
odict                   = git ${remotes:conestack}/odict.git
plumber                 = git ${remotes:conestack}/plumber.git
node                    = git ${remotes:conestack}/node.git
node.ext.ugm            = git ${remotes:conestack}/node.ext.ugm.git
yafowil                 = git ${remotes:conestack}/yafowil.git
yafowil.bootstrap       = git ${remotes:conestack}/yafowil.bootstrap.git
yafowil.webob           = git ${remotes:conestack}/yafowil.webob.git
yafowil.yaml            = git ${remotes:conestack}/yafowil.yaml.git
yafowil.widget.array    = git ${remotes:conestack}/yafowil.widget.array.git
yafowil.widget.array    = git ${remotes:conestack}/yafowil.widget.dict.git
yafowil.widget.datetime = git ${remotes:conestack}/yafowil.widget.datetime.git
yafowil.widget.image    = git ${remotes:conestack}/yafowil.widget.image.git
yafowil.widget.select2  = git ${remotes:conestack}/yafowil.widget.select2.git
yafowil.widget.location = git ${remotes:conestack}/yafowil.widget.location.git
conestack.intellidatetime     = git ${remotes:conestack}/bda.intellidatetime.git
bdajax                  = git ${remotes:conestack}/bdajax.git
cone.tile               = git ${remotes:conestack}/cone.tile.git
cone.app                = git ${remotes:conestack}/cone.app.git
cone.sql                = git ${remotes:conestack}/cone.sql.git
cone.ugm                = git ${remotes:conestack}/cone.ugm.git
cone.fileupload         = git ${remotes:conestack}/cone.fileupload.git
cone.firebase           = git ${remotes:conestack}/cone.firebase.git

[instance]
recipe = zc.recipe.egg:scripts
eggs =
    pyramid
    waitress
    lingua
    # pysqlite3-binary
    pytest
    # psycopg2-binary
    requests
    websockets
    zope.interface
    zope.component

[testenv]
TESTRUN_MARKER = True

[test]
recipe = zc.recipe.testrunner
eggs =
    node.ext.ugm
    cone.tile[test]
    cone.app[test]
    odict
    plumber[test]
    node

environment = testenv
defaults = ['--auto-color', '--auto-progress']

[coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    ./bin/test --coverage ../../coverage -v --auto-progress "$@"
output = ${buildout:directory}/bin/coverage
mode = 755

[coverage_report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('coverage', 'report')
